body {
	text-align: center;
}

h1 {
	color: rgb(2, 132, 130);
	size: 3em;
}

h2 {
	color: #ffd700;

}

nav {
	background-color: #808080;
}

nav a {
	display: block;
	float: left;
	background-color: #ffbf00;
	color: white;
	padding: 35px;
}

a:hover {
	background-color: #ee5f3c;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }


.board {
	height: 50%;
	width: 50%;
	display: inline-block;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px solid #000000;
	background-color: yellow;
	border-radius: 10px;
	float: left;
	margin: 8%;

}

footer {
	background-color: #808080;
}

footer span {
	color: #ff0000;
}